@import "~bootstrap/scss/functions";
@import "./variables";
@import "./system";

@import "~bootstrap/scss/bootstrap";


#nav {
    background: #eee;
}

.card-body {
    a {
        text-decoration: none;
        color: #333
    }
}

.list-unstyled {
    a {
        text-decoration: none;
        &:hover {
            color: #7952b3 !important;
        }
    }
}
