@import "~bootstrap/scss/functions";
@import "./variables";
@import "./system";

@import "~bootstrap/scss/bootstrap";


#nav {
    background: #eee;
}



.card-body {
    a {
        text-decoration: none;
        color: #333
    }
}
