@import "~bootstrap/scss/functions";
@import "./variables";
@import "./system";
@import "./cart";
@import "./article";


@import "~bootstrap/scss/bootstrap";


#nav {
  

    .navbar-nav {
        a {
            color: #fff;
            font-size: $font*1.25;
        }
    }



    #dropdownMenuButton1 {
        &:hover {
            background-color: transparent;
            border-color: transparent;
        }

        &:focus {
            background-color: transparent;
        }
    }

}

.dropdown {
    button {
        font-size: $font*1.25;
    }
}

.navbar-nav .dropdown-menu {
    @include mob(){
        min-width: 100% !important;
    }
}

div#navbarNavAltMarkup {
    @include mob(){
        padding-right: 0 !important;
    }
 
}

span.position-absolute.top-0.start-100.translate-middle.badge.rounded-pill.bg-danger {
   @include mob(){
    right: 0 !important;
    left: inherit !important;
    top: 18px !important;
   }

}

.card-body {
    a {
        text-decoration: none;
        color: #fff;
    }

    .card-text {
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        line-height: 175%;
    }

    .card-title {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-weight: 500;

    }
}


.list-unstyled {
    a {
        text-decoration: none;

        &:hover {
            color: #3f51b5 !important;
        }
    }
}


.first-image {
    background: url(https://upload.cc/i1/2022/04/06/CyVseu.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
}

.h-title {
    position: relative;
    display: inline-block;
    &:before{

        content: "";
        width: 20px;
        height: 90%;
        background-color: #3f51b5;
        left: -35px;
        position: absolute;
    }
}


.swiper-box {
    margin: 50px 0;
    @include mob(){
        margin: 0;
        padding: 50px 0;
    }

    img {
        object-fit: cover;
        height: 500px;
        @include mob(){
            height: auto;
        }
    }

    a {
        &:hover {
            color: #fff;
        }
    }
}

.swiper-wrapper {
    padding-bottom: 50px;
    p {
        margin-top: 10px;
    }
}

.info {
   min-height: 500px;
    ul {
        margin-top: 15px;
        list-style-type: auto;
        font-size: $font*1.2;
    }
}

.btn-primary {
    color: #fff;
}





.article-box {


a {

    position: relative;

    &:hover:before {
        opacity: 1;
        transition: all 0.5s ease;
    }

    &:before {

        background-color: rgba(0,0,0,.5);
        content:'立即觀看';
        color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: 250px;
        font-size: $font*2;
        transition: all 0.5s ease;
        opacity: 0;
       

    }
  
    

   

   

  

   
}





}